doctype
html(lang='en')
head
    meta(charset='utf-8')
    title Desktops and Tablets
    link(type='text/javascript', href='/javascripts/Pad.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

      
  body
    canvas#canvasSignature
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/Pad.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/Communal-drawing.js')

