doctype
html(lang='en' ng-app="drawingApp")
head
    meta(charset='utf-8')
    title Desktops and Tablets

    link(rel='stylesheet', href='/stylesheets/drawing-app.css')
      
  body(ng-controller="DrawingAppCtrl")
    h1 Canvas test
    div.canvasDiv
      canvas#canvasSignature(width="600", height="400")
    div.chat
      div.messageEntry
        form.formMessage(ng-model="formMessage", name="formMessage")
          label
            | Enter a message:
          input(ng-model="message", class="message", ng-required="true", type="text", ng-minlength="1")
          input(type="button", value="Send", ng-disabled="formMessage.$invalid")


    script(type='text/javascript' src='/javascripts/Pad.js')    
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(type='text/javascript', src='/javascripts/app.js')
    script(type='text/javascript', src='/javascripts/services.js')
    script(type='text/javascript', src='/javascripts/controllers.js')
    script(src='/socket.io/socket.io.js')