html, body {
  background-color: #28677A
}

#canvasSignature {
    background-color: #FFFFFF;
    margin: 0 auto;
    display:block;
/*    width: 600px;
    height: 400px;*/
}

.chat {
    background-color: #400B14
}