html, body {
  background-color: #28677A
}

#canvasSignature {
    background-color: #FFFFFF;
    margin: 0 auto;
    display:block;
}

.chat {
    background-color: #400B14;
    height: 200px;
    width: 600px;
    display:block;
    margin: 0 auto;

}

.messageEntry {
    height: 8%;
}

.messages {
    height: 92%;
    bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}